<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= render 'users/user', user: @user %>
      <h2>New post</h2>
      <%= render 'cats/cat', cat: @cat %>
    </div>
    <div class="col-md-7 offset-md-1">
      <h1>About detail</h1>
      <table class="table table-user-show">
        <tr>
          <td><%= image_tag @user.get_profile_image(50,50) %></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= image_tag @cat.get_image %></td>

          <td><%= @cat.title %></td>
          <td><%= @cat.body %></td>
          <% if @cat.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_cat_path(@cat), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", cat_path(@cat), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>